*
{
padding :0;
margin:0;
}

.header2 ul li{
list-style: none;
    display: inline-block;
     width: 100px;
    margin: 10px;
    padding-top: 2px 0;
    outline: none !important;
     border: 2px solid #fff;
   border-radius: 10px;
    background: transparent
    color:#fff;
    float: left;
    

}

.header2
{
height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   top: 18px;

    
}

.header2{
  text-align: center;
    color: #fff;
    padding-top: 20px;   
}

.header2 h1{
padding-top: 150px;
    padding-bottom: 0;
    font-size: 55px;
    text-align: center;
    
}

.header2 p{
margin: 18px 0;
}
.logo img
{
width: 100px;
    float:right;
    padding-top: 1px;
    
    
}

.fa fa-truck
{
    width: 100px;
    padding-top: 2px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color:#fff;
    float: right;
}
.input-group
{
    width:90px;
    max-width: 500px;
    border-radius: 8px;
    background: #fff;
    padding: 2px;
    margin: auto;
   
   
}
.form-control{
border: 0 !important;
    border-radius: 30px !important;
    margin:2px;
    box-shadow: none !important;
    
}
.input-group-text{
    width: 100px; 
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius:30px !improtant;
    box-shadow: none !important;
}

.features
{
padding: 100px 0;
    
}

h1
{
text-align: center;
padding-bottom: 30px;
}

.feature-img img
{
width: 200px;
    float: left;
}

/*.price{
width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;*/
}
.feature-img{
position: relative;
}

.rating{
padding: 3px;
    background: #fff;
    bottom: -1px;
    position: absolute;
    float: right;
    right:0;
    
}
.features .fa{
font-size: 15px;
    
}
.feature-details{
    padding: 20px;
    text-align: justify;
}

.feature-details h4{
font-weight: 600;
margin-top: 20px;
}
/*.feature-box{
    
}*/

.gallerie{
padding: 10px 0;
    
}
.gallerie img{
width: 300px;
margin: 10px;    
}
.gallerie-box img{
width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;    
}
.gallerie-box img:hover{
transform: scale(1.1)
}

.gallerie-box h4{
   display: block;
    color: #fff;
text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallerie-box{
position: relative;
    margin-bottom: 30px;
}

.banner{
    height: 500px;
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 90px;
}
.banner-highlights{
padding: 40px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
}


.booking-btn{
     width: 120px;
    padding: 8px 0;
    outline: none !important;
     border: 2px solid red;
   border-radius: 50px;
    background: transparent;
    margin-top: 20px;
    color: #fff;
}

.nav-footer{
display: inline-block;
list-style: none;
bottom: 150px;
text-align: center;
}


footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */


.liste-services,
.liste-horaires,
.liste-media {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: #333;
}
.liste-services a:hover {
    color: rgb(3,3,3);
}


/* Medias */

.liste-media {
    position: relative;
    right: 10px;
}
.liste-media img {
    width: 40px;
    margin: 10px 10px;
}
.liste-media a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}






/* code pour contact*/



/* code css pour Gallerie*/
/*.container2
{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
     
}
.container2 .box{
position: relative;
    width: 300px;
    height: 300px;
    padding-left: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.container2 .box .imgbox{
position: relative;
}

.container2 .box .imgbox img{
max-width: 100%;
    transition: transfom 2s;
    border-radius: 10px;
}

.container2 .box:hover .imgbox img{
transform: scale(1.2);
}
.container2 .box .donnee{
position: absolute;
    top: 10px;
    padding: 30px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0.0.0.0.8);
    
}
*/

/* Media queries */

@media screen and (max-width: 1200px) {

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 800px) {

    .contenu-footer {
        width: 300px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}
}
/*galeir
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.gal{
float: right;
    margin: 50px;
    padding: inherit;
    
}
*/
/*.feature-box{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
}
*/
.feature-box h4{
text-align: center;
}

